.text-container {
    color: #fff;
}

.text-container h2 {
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: .8rem;
}

.text-container p {
    font-size: 1.2rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.2rem;
    background-color: rgb(10, 8, 44);
    color: #fff;
    border-radius: var(--first-radius);
    background-image: linear-gradient(var(--second-gradient));
    margin: 2rem auto;
}

.search-link {
    margin-right: .8rem;
}

.div-margin {
    margin-top: 4rem;
    margin-bottom: 8rem;
}